.custom-margin {
  margin-left: 200px;
  margin-right: 200px;
}

h1 {
  font-size: 20px;
  margin-top: 10px;
}

.custom-dropdown-button {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important; /* Add border to prevent default Bootstrap styles */
}

.custom-dropdown-button:hover,
.custom-dropdown-button:active,
.custom-dropdown-button:focus {
  background-color: white !important;
  color: black !important;
}

.custom-dropdown-button:active + .dropdown-menu .dropdown-item {
  background-color: white !important;
  color: black !important;
}

.margin-t {
  margin-top: 10px
}

.dropdown-menu {
  background-color: white !important;
  border: 1px solid black !important; /* Add border to prevent default Bootstrap styles */
}

.dropdown-item-light:active {
  background-color: #D6D6D6 !important;
  color: black !important;
  border-color: black !important; /* Add border to selected item */
}

.dropdown-item {
  color: black !important;
}

.dropdown-item:hover,
.dropdown-item:active {
  background-color: #f8f9fa !important; /* Hover color */
  color: black !important;
}

.additional-options-container {
  display: flex;
  margin-top: 10px;
}

.additional-options-text {
  margin-right: 10px;
  margin-top: 10px;
}

.additional-options-button-primary {
  margin-left: 10px;
  border-start-end-radius: 5px;
  background-color: white !important;
  border-color: black !important;
  color: black !important;
  cursor: pointer;
  border-radius: 6px; /* Make the corners round */
  font-size: 15px; /* Adjust the font size as needed */
}

.additional-options-button-primary:hover {
  background-color: #D6D6D6 !important;
  border-color: black !important;
  color: black !important;
}

.filtre {
    margin-top: 10px;
    margin-right: 10px
}