

/* General margin classes */
.custom-margin {
  margin-left: 200px;
  margin-right: 200px;
}

.filtre {
    margin-right: 10px;
}

.container {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

/* Header style */
h1 {
  font-size: 20px;
  margin-top: 10px;
}

/* Custom button style for the Dropdown Toggle */
.custom-dropdown-button {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important; /* Add border to prevent default Bootstrap styles */
}

/* Custom styles for the Dropdown when hovered, active, or focused */
.custom-dropdown-button:hover,
.custom-dropdown-button:active,
.custom-dropdown-button:focus {
  background-color: white !important;
  color: black !important;
}

/* Custom styles for the Dropdown when active and its menu items */
.custom-dropdown-button:active + .dropdown-menu .dropdown-item {
  background-color: white !important;
  color: black !important;
}

/* Custom styles for the Dropdown menu */
.dropdown-menu {
  background-color: white !important;
  border: 1px solid black !important; /* Add border to prevent default Bootstrap styles */
}

/* Custom styles for the Dropdown menu items */
.dropdown-item {
  color: black !important;
}

/* Custom styles for the Dropdown menu items when hovered or active */
.dropdown-item:hover,
.dropdown-item:active {
  background-color: #f8f9fa !important; /* Hover color */
  color: black !important;
}

/* Additional styling for the primary button in options */
.additional-options-button-primary {
  background-color: black !important;
  border-color: black !important;
  color: white !important;
  cursor: pointer;
}

/* Additional styling for the primary button in options when hovered, active, or focused */
.additional-options-button-primary:hover,
.additional-options-button-primary:active,
.additional-options-button-primary:focus {
  background-color: black !important;
  border-color: black !important;
  color: white !important;
}





