.custom-margin {
    margin-left: 200px;
    margin-right: 200px;
}
.custom-margin2 {
    margin-top: 20px;

}
.filtre {
    margin-top: 20px;
}
.rareButton {
    color: black; /* Default text color */
    background-color: white; /* Default background color */

}
.rareButton2 {
    color: black; /* Default text color */
    background-color: white; /* Default background color */
}